body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.imagenStyle{
    width: 200px;
    height: 200px;
    margin: 0px;
    padding: 0;
}

#contenedorMenu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#agregar, #actualizar{
    width: 100%;
    text-align: center;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}


#establo{
    border-bottom: 2px solid rgb(216, 213, 213);
    padding-bottom: 25px;
    margin: 0px;
} 

.formElement{
    text-align: left;
    padding: 7px;
}

label{
    font-weight: bold;
}

input{
    margin-top: 7px;
    border-radius: 8px;
    border: 2px solid rgb(199, 198, 198);
    padding: 6px;
    width: 300px;
}

h2{
    text-align: left;
}

#contenedorUnicornios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

header{
    margin: 0px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position:sticky;
    top: 0px;
}

.card{
    display: inline-flex;
    margin: 5px;
    padding: 0px;
    height: 200px;
    box-shadow: 4px 4px 16px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* para eliminar el borde cuadrado*/
    /* overflow: hidden; */
}

.parrafos{
    margin: 1px;
}

#nombreUni{
    width: 400px;
    display: inline-flex;
    text-align: left;
    margin: 0px;
}

.texto2{
    text-align: left;
    margin: 0px;
}

#titulo{
    background-color:rgb(0,214,242);
}

.detalleU{
    margin: 0;
    padding-left: 10px;
    width: 200px;
    /* height: 200px; */
}

.palabras{
    padding: 2px;
    margin: 10px;
}

.descripcion{
    font-weight: bold;
}

.boton2{
    width: 165px;
    border-radius: 5px;
    padding: 5px 20px;
}

#titulo{
    justify-content: center;
    width: 1200px;
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    margin: auto;
}

#btn, #btnModificar{
    width: 130px;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    /* border-color: rgb(0,214,242); */
    border: none;
    background-color: rgb(0,214,242);
}